<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zut.hys.auth.generator.mapper.UserRoleMapper">

    <resultMap id="BaseResultMap" type="edu.zut.hys.domain.UserRole">
            <id property="userRoleid" column="user_roleid" jdbcType="BIGINT"/>
            <result property="userid" column="userid" jdbcType="BIGINT"/>
            <result property="roleid" column="roleid" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_roleid,userid,roleid
    </sql>
</mapper>
